/.vs
/bin
/obj
Miniaudio-CS/Miniaudio-CS/bin
Miniaudio-CSMiniaudio-CS/obj
RNNoise.NET/bin
RNNoise.NET/obj
VoiceChatSharp.TestingDefaultVoiceChat/bin
VoiceChatSharp.TestingDefaultVoiceChat/obj
VoiceChatSharp.TestingClient/bin
VoiceChatSharp.TestingClient/obj
VoiceChatSharp.TestingServer/bin
VoiceChatSharp.TestingServer/obj
VoiceChatSharp/bin
VoiceChatSharp/obj
VoiceChatSharp.DefaultImplementation/bin
VoiceChatSharp.DefaultImplementation/obj
VoiceChatSharp.TestingFMODVoiceChat/bin
VoiceChatSharp.TestingFMODVoiceChat/obj
VoiceChatSharp.FMODImplementation/bin
VoiceChatSharp.FMODImplementation/obj