/.vs
/bin
/obj
Miniaudio-CS/bin
Miniaudio-CS/obj
RNNoise.NET/bin
RNNoise.NET/obj
VoiceChatSharp.TestingVoiceChat/bin
VoiceChatSharp.TestingVoiceChat/obj
VoiceChatSharp.TestingClient/bin
VoiceChatSharp.TestingClient/obj
VoiceChatSharp.TestingServer/bin
VoiceChatSharp.TestingServer/obj
VoiceChatSharp/bin
VoiceChatSharp/obj
VoiceChatSharp.DefaultImplementation/bin
VoiceChatSharp.DefaultImplementation/obj